.work__container {
   width: 750px;
}

.work__card {
   background-color: var(--container-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 1.5rem 2rem;
   margin-bottom: var(--mb-3);
   border-radius: 1.25rem;
}

.work__img {
    width: max-content;
    margin-bottom: var(--mb-1);
    border-radius: 1.25rem;
}

.work__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.work__description {
    font-size: var(--small-font-size);
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

@media screen and (max-width: 992px) {
    .work__container {
        width: initial;
    }

    .work__card {
        padding: 1.25rem 1.5rem;
    }
}